{% extends 'base.html' %}
{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block content %}

<div class="container">
    <div class="album py-3">

        <div class="col">
          <div class="card flex-md-row mb-4 box-shadow h-md-300">
              {% if account.photo %}
                <img class="card-img-right flex-auto d-none d-md-block" data-src="{{ account.photo.url }}" alt="Thumbnail [200x250]" style="width: 450px; height: 375px;" src="{{ account.photo.url }}" data-holder-rendered="true">
              {% else %}
                <img class="card-img-right flex-auto d-none d-md-block" data-src="../media/no.jpg" alt="Thumbnail [200x250]" style="width: 450px; height: 375px;" src="{% static 'no.jpg' %}" data-holder-rendered="true">
              {% endif %}
             <div class="card-body d-flex flex-column align-items-start">
                  <h4 class="mb-4">{{ account.username }}</h4>
                  <h5 class="mb-4">{{ account.email }}</h5>
                  <p class="card-text"><i class="bi bi-telephone-fill"style="font-size: 1.3rem"></i>  {{ account.phone }}</p>
                  <p class="card-text mt-4"><i class="bi bi-facebook" style="font-size: 1.3rem"></i>  {{ account.facebook }}</p>
                  <p class="card-text"><i class="bi bi-telegram" style="font-size: 1.3rem"></i>  {{ account.telegram }}</p>
                  <p class="card-text"><i class="bi bi-linkedin" style="font-size: 1.3rem"></i>  {{ account.linkedin }}</p>
                  <div class="">
                    <a href="/" class="btn btn-sm btn-outline-secondary mt-4">← Назад</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'vacancy_add' %}" class="btn btn-sm btn-outline-secondary mt-4">Добавить вакансию</a>
                        <a href="#" class="btn btn-sm btn-outline-secondary mt-4"><i class="bi bi-pencil-fill" style="font-size: 1.3rem"></i></a>
                    {% endif %}
                  </div>
              </div>
          </div>
        </div>

    </div>

    <div class="table">
          <table class="table">
            <thead>
              <tr>
                <th>Вакансия</th>
                <th>Дата обновления</th>
              </tr>
            </thead>
            <tbody>
             {% for vacancies in account.vacancies_view.all %}
                <tr>
                  <td class="text">{{ vacancies.name }}</td>
                  <td class="text">{{ vacancies.updated_at }}</td>
                </tr>
              {% empty %}
             <div class="album py-3 bg-light">
               <div class="container">
                   <div class="row">
                          <div class="col">
                            <div class="card mb-4 box-shadow">
                              <div class="card-body">
                                <h3 class="card-text">The profile has no vacancies!</h3>
                              </div>
                            </div>
                          </div>
                   </div>
               </div>
              </div>
            {% endfor %}
            </tbody>
          </table>
    </div>

</div>


{% if is_paginated %}
  {% include 'partial/pagination.html' %}
{% endif %}

{% endblock %}