{% extends 'base.html' %}

{% block title %}
Vacancy
{% endblock %}

{% block content %}

<div class="album py-3 bg-light">
  <div class="container">

    <div class="col">
      <div class="card flex-md-row mb-4 box-shadow h-md-300">
         <div class="card-body d-flex flex-column align-items-start">
          <h4 class="mb-4">{{ vacancy.name }}</h4>
          <h5 class="mb-4">{{ vacancy.salary }} KZT</h5>
          <p class="card-text mb-4">{{ vacancy.description }}</p>
          <p class="card-text mb-4">Опыт работы: {{ vacancy.experience_time }} лет</p>
          <p class="card-text mb-4">{{ vacancy.vacancy_category.name }}</p>
          <div class="">
            <a href="/" class="btn btn-sm btn-outline-secondary">← Вернуться на главную</a>
            <a href="{% url 'respond_add' vacancy.pk %}" class="btn btn-sm btn-outline-secondary">Откликнуться</a>
          </div>
          <small class="text-muted mt-4">Опубликована: {{ vacancy.created_at|date:"d-m-Y h:i" }}</small>
          <small class="text-muted mt-4">Обновлена: {{ vacancy.updated_at|date:"d-m-Y h:i" }}</small>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}